/* Seção de Introdução */
.secao-introducao {
  background-color: black;
}

/* Seção de Você vai aprender */
.secao-aprender {
  background: hsla(351, 100%, 25%, 1);
  background: linear-gradient(270deg, hsla(351, 100%, 25%, 1) 0%, hsla(9, 59%, 7%, 1) 100%);  
  background: -moz-linear-gradient(270deg, hsla(351, 100%, 25%, 1) 0%, hsla(9, 59%, 7%, 1) 100%);  
  background: -webkit-linear-gradient(270deg, hsla(351, 100%, 25%, 1) 0%, hsla(9, 59%, 7%, 1) 100%);  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7f0012", endColorstr="#1b0a07", GradientType=1 );
}

/* Espaçamento de seção */
.espacamento-secao {
  padding-top: 40px;
  padding-bottom: 80px;
}

/* Estilo para o título do site */
.titulo-site {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
}

/* Estilo para o slogan do site */
.slogan-site {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  padding: 0;
}

/* Estilo para o título da seção Você vai aprender */
.titulo-aprender {
  font-size: 46px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

/* Estilo para o botão de ação */
.botao-de-acao {
  background-color: #940c2c;
  border-radius: 100px;
  box-shadow: rgba(148, 12, 44, 1) 0 -25px 18px -14px inset, rgba(148, 12, 44, 1) 0 1px 2px, rgba(148, 12, 44, 1) 0 2px 4px, rgba(148, 12, 44, 1) 0 4px 8px, rgba(148, 12, 44, 1) 0 8px 16px, rgba(148, 12, 44, 1) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 auto;
  display: block;
  max-width: fit-content;
}

.botao-de-acao:hover {
  box-shadow: rgba(255, 58, 118, 0.8) 0 -25px 18px -14px inset, rgba(255, 58, 118, 0.8) 0 1px 2px, rgba(255, 58, 118, 0.8) 0 2px 4px, rgba(255, 58, 118, 0.8) 0 4px 8px, rgba(255, 58, 118, 0.8) 0 8px 16px, rgba(255, 58, 118, 0.8) 0 16px 32px;
  color: white;
  transform: scale(1.05) rotate(-1deg);
}

/* Estilização da lista */
ul li {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

/* Conteiner para adicionar as DIVs flutuantes */
.container-flutuante {
  padding: 20px;
  width: inherit;
}

/* DIV flutuante para vizualização de conteúdo em duas colunas */
.div-flutuante {
  width: 50%;
  float: left;
  padding: 20px;
}

/* Desabilita a vizualização dessa DIV */
.view-mobile {
  display: none;
}

/* Estilos Responsivos */
@media only screen and (max-width: 800px) {
  .container-flutuante {
    display: none;
  }

  .view-mobile {
    display: block;
  }

  .titulo-site {
    font-size: 42px;
  }

  .slogan-site {
    font-size: 24px;
  }

  .titulo-aprender {
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .view-mobile {
    margin-left: 10%;
    margin-right: 10%;
  }

  .titulo-site {
    font-size: 32px;
  }

  .slogan-site {
    font-size: 20px;
  }

  .titulo-aprender {
    font-size: 28px;
  }
}